@tailwind base;
@tailwind components;
@tailwind utilities;

.command-item {
  @apply px-4 py-2 cursor-pointer text-sm flex items-center justify-between;
}

.command-item:hover,
.command-item.active {
  background-color: var(--vscode-list-focusBackground, #094771);
  color: var(--vscode-list-focusForeground, #ffffff);
}

/* scrollbar mirip VS Code */
#command-list::-webkit-scrollbar {
  @apply w-2;
}
#command-list::-webkit-scrollbar-thumb {
  @apply bg-gray-500/30 rounded;
}
.dark #command-list::-webkit-scrollbar-thumb {
  @apply bg-gray-400/40;
}
