@tailwind base;
@tailwind components;
@tailwind utilities;

.workspace-nav {
  @apply flex-none h-full z-20;
}

.main-nav {
  @apply flex h-full;
}


.nav-menu {
  @apply flex flex-col items-center py-2 gap-2;
  background-color: var(--vscode-tab-inactiveBackground, #2d2d2d);
  border-color: var(--vscode-panel-border);
  width: var(--vscode-w-nav-menu, 48px);
}

.nav-menu-item {
  /* @apply w-10 h-10 flex items-center justify-center rounded-md cursor-pointer transition-colors duration-200; */
  @apply w-10 h-10 flex items-center justify-center rounded-md cursor-pointer;
  color: var(--vscode-tab-inactiveForeground, #999);
}

.nav-menu-item:hover {
  background-color: var(--vscode-tab-hoverBackground, #686868);
  color: var(--vscode-tab-hoverForeground, #000);
}

.nav-menu-item.active {
  @apply text-white;
  background-color: var(--vscode-tab-activeBackground, #1e1e1e);
  color: var(--vscode-tab-activeForeground, #fff);
}

.nav-content {
  @apply h-full;
  background-color: var(--vscode-editor-background, #333);
  color: var(--vscode-sideBar-foreground, #ccc);
  border-color: var(--vscode-panel-border);
  width: var(--vscode-w-nav-content, 260px);
  min-width: var(--vscode-min-w-nav-content, 260px);
  max-width: var(--vscode-max-w-nav-content, 260px);
}

.nav-content.hidden {
  /* @apply w-0 overflow-hidden transition-all duration-200; */
  /* @apply hidden overflow-hidden transition-all duration-200; */
  @apply hidden overflow-hidden;
}

.resize-handle {
  @apply px-2 cursor-col-resize text-sm text-neutral-400;
}

.panel-header {
  @apply flex items-center justify-between px-3 py-2;
  border-color: var(--vscode-panel-border, #3c3c3c);
  /* background-color: var(--vscode-tab-inactiveBackground, #2d2d2d); */
  color: var(--vscode-tab-inactiveForeground, #999);
  /* background-color: var(--vscode-editor-background, #333); */
}

.panel-body {
   @apply p-2 overflow-auto h-[calc(100%-40px)];
   /* background-color: var(--vscode-editor-background, #333); */
   color: var(--vscode-editor-foreground, #333);
}

/* Explorer tree styles */
.explorer-tree .tree-node {
  @apply text-sm;
}

.explorer-tree .tree-node:hover {
  background-color: color-mix(in srgb, white 6%, transparent);
}

.explorer-tree {
  @apply text-sm font-mono;
}

.tree-node {
  @apply flex items-center gap-2 p-1 cursor-pointer hover:bg-gray-100/5 rounded;
}

.tree-node-child {
  @apply p-1 cursor-pointer hover:bg-gray-100/3 rounded;
}

/* Search styles */
.icon-btn {
  @apply w-7 h-7 flex items-center justify-center rounded hover:bg-[var(--vscode-toolbar-hoverBackground)];
  font-size: 16px;
}

.search-pane {
  background: var(--vscode-sideBar-background);
  color: var(--vscode-sideBar-foreground);
}

.result-item {
  border-color: var(--vscode-panel-border);
}