@tailwind base;
@tailwind components;
@tailwind utilities;

.ws-tree .tree-node {
  @apply text-sm;
}

.ws-tree {
  @apply text-sm font-mono;
}

.node-dir {
  @apply flex items-center gap-1 py-[2px] px-2 cursor-pointer rounded;
}

.node-files {
  @apply flex items-center gap-1 py-[2px] px-2 cursor-pointer rounded;
}

.tree-node-child {
  @apply gap-1 py-[2px] px-2 cursor-pointer rounded text-nowrap;
  width: fit-content;
}