@import './styles/root.css';
/* Import custom CSS */
@import './styles/Workspace.css';
@import './styles/Group.css';
@import './styles/Tabs.css';
@import './styles/Editor.css';
@import './styles/Marker.css';
@import './styles/Path.css';
@import './styles/Sidebar.css';
